/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
    font-family: "Berlin Sans FB Demi Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Berlin Sans FB Demi Bold"), url("./public/fonts/BRLNSDB.woff") format("woff");
}

/* Animations */
@-webkit-keyframes floating {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}

@-moz-keyframes floating {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}

@-ms-keyframes floating {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}

@-o-keyframes floating {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes floating {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes goDown {
    0% {
        top: -60px;
    }

    100% {
        transform: translateY(60px);
    }
}

@keyframes shapeBlinker {
    50% {
        opacity: 0.59;
    }
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Grandstander", sans-serif;
    background-color: #050505;
    color: #FFF;
    height: 2000px;
}

.title {
    margin-bottom: 50px;
    font-size: 3.5em;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

/* Preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.preloader img {
    width: 100px;
    -webkit-animation: floating 1s cubic-bezier(0.4, -0.35, 0.01, 1.08) infinite alternate;
    -moz-animation: floating 1s cubic-bezier(0.4, -0.35, 0.01, 1.08) infinite alternate;
    -ms-animation: floating 1s cubic-bezier(0.4, -0.35, 0.01, 1.08) infinite alternate;
    -o-animation: floating 1s cubic-bezier(0.4, -0.35, 0.01, 1.08) infinite alternate;
    animation: floating 1s cubic-bezier(0.4, -0.35, 0.01, 1.08) infinite alternate;
}

/* Navbar */
.nav {
    padding: 15px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
    transition: all 0.3s ease-in-out;
}

.nav.sticky {
    position: fixed;
    top: -60px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 15px #11181a;
    animation: goDown 0.5s ease-in-out forwards;
}

.nav .nav-logo img {
    max-width: 200px;
    transition: all 0.25s ease-in-out;
}

.nav .nav-logo img:hover {
    transform: scale(1.15);
    filter: opacity(0.5);
    transition: all 0.25s ease-in-out;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right .navbar {
    padding: 0px;
    position: static;
}

.navbar .navbar-nav .nav-link {
    display: block;
    padding: 38px 23px;
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.8px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.nav-item:hover .nav-link {
    transform: scale(1.15);
    transition: all 0.3s ease-in-out;
}

.nav-right .menu-icon {
    display: none;
    width: 30px;
    padding: 0px;
    border: 0px;
    outline: 0;
    box-shadow: none;
    cursor: pointer;
    z-index: 1000 !important;
}

.nav-right .btn-buy,
.fullscreen .btn-buy {
    padding: 15px 25px;
    border: 3px solid #7d46ff;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav-right .btn-buy:hover,
.fullscreen .btn-buy:hover {
    background-color: #fff;
    border: 3px solid #fff;
    color: #000;
    transition: all 0.3s ease-in-out;
}

.nav-right a,
.fullscreen a {
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: inherit;
}

/* Fullscreen */
.fullscreen {
    margin: -100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(7px);
    z-index: 100;
}

.fullscreen.active {
    margin: 0;
}

.fullscreen .nav-link {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.fullscreen .btn-buy {
    margin: 15px 0;
}

.fullscreen ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fullscreen ul li {
    margin: 15px 0;
}

.fullscreen .fa {
    width: 30px;
    padding: 20px;
    margin: 5px 2px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    font-size: 30px;
    color: white;
    text-align: center;
    text-decoration: none;
    box-sizing: content-box;
}

/* Hero */
.slider__bg {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__area .row {
    justify-content: center !important;
}

.slider__content {
    margin-top: 100px;
    position: relative;
    z-index: 2;
}

.slider__img img {
    max-width: 100%;
}

.col-img {
    display: flex;
    align-items: center;
    justify-content: center
}

.slider__content .welcome {
    font-size: 4em !important;
    line-height: 0.8;
    color: #fff;
}

.slider__content img {
    max-width: 80%;
    margin: 0 0 21px;
}

.slider__content p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.8;
}

.slider__content .input-group {
    flex-wrap: nowrap;
    margin-bottom: 30px;
    padding: 10px 20px;
    width: 100%;
    border: 3px solid #7d46ff;
    border-radius: 25px;
    font-size: 21px;
    color: #fff;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.slider__content .input-group button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.slider__content .input-group input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    outline: none;

}

.slider__content label {
    font-size: 21px;
}

.slider__btn {
    display: flex;
}

.slider__btn div:not(.group-btn) {
    margin-right: 15px;
}

.slider__btn .btn-buy {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 25px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.slider__btn .btn-buy:hover {
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    transform: scale(1.08);
    transition: all 0.3s ease-in-out;
}

.slider__btn .btn-chart {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    border: 3px solid #7d46ff;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.slider__btn .btn-chart:hover {
    background-color: #fff;
    border: 3px solid #fff;
    color: #000;
    transform: scale(1.08);
    transition: all 0.3s ease-in-out;
}

.slider__btn a {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

.slider__btn .group-btn {
    display: flex;
    align-items: center;
    justify-content: center;

}

.slider__btn .fa {
    width: 25px;
    padding: 15px;
    margin: 5px 2px;
    border: 3px solid #7d46ff;
    border-radius: 50%;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    box-sizing: content-box;
    transition: all 0.3s ease-in-out;
}

.slider__btn .fa:hover {
    background-color: #fff;
    border: 3px solid #fff;
    color: #000;
    transform: scale(1.15);
    transition: all 0.3s ease-in-out;
}

particle {
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
}

/* Tokenomics */
.count-area {
    padding: 100px 0px;
    position: relative;
    background-color: rgba(125, 70, 255, 0.15);
}

.count-area .container {
    max-width: 90%;
}

.polygon {
    height: 50px;
    position: relative;
}

.polygon-left {
    width: 50%;
    left: 0;
}

.polygon-right {
    width: 50%;
    right: 0;
}

.count-area::before {
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(90deg, transparent 0%, rgb(125, 70, 255) 50%, transparent 100%);
    content: "";
}

.count-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.count-box {
    margin: 0 50px;
    text-align: center;
}

.count-box span {
    padding: 6px 30px 6px 32px;
    margin: 0px;
    display: inline-block;
    border: 2px solid #7d46ff;
    border-radius: 100px;
    background-color: rgb(125, 70, 255, 0.4);
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.count-box h2 {
    padding-left: 8px;
    margin: 12px 0px 0px;
    font-family: "Berlin Sans FB Demi Bold";
    font-size: 4em;
    color: #ffffff;
    line-height: normal;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-shadow: -1px 5px 0px rgba(125, 70, 255, 0.66);
}

/* Chart */
#dexscreener-embed {
    width: 80%;
    padding-bottom: 125%;
    position: relative;
    margin: 0 auto;
}

@media(min-width: 1400px) {
    #dexscreener-embed {
        padding-bottom: 65%;
    }
}

#dexscreener-embed iframe {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border: 0;
}

/* Responsive */
@media screen and (max-width: 767px) {
    .nav-main,
    .nav-right {
        flex-wrap: wrap;
    }

    .nav-right {
        padding: 15px 0px;
    }

    .nav-logo img {
        max-width: 146px;
    }

    .slider-activee {
        margin-top: 6em;
    }

    .slider__img {
        display: none;
    }

    .slider__content {
        margin: 0px;
        text-align: center;
    }
}

@media screen and (max-width: 575px) {
    .nav-right .btn-buy {
        display: none;
    }

    .nav-right .navbar .nav-items .btn-buy {
        display: block;
        margin: 0px !important;
        padding-bottom: 20px;
    }

    .slider__content p {
        font-size: 18px;
    }

    .slider__img {
        display: none;
        transform: none;
    }

    .slider__btn {
        flex-direction: column;
    }

    .slider__btn .group-btn:nth-child(2) {
        margin-top: 15px;
    }

    .count-box span {
        padding: 8px 15px;
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    .bloc-box {
        flex-direction: column;
    }
}

@media screen and (min-width: 576px) {
    .nav-right .navbar .nav-items .btn-buy {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .nav-right>.btn-buy {
        order: 1;
        margin: 0px 30px 0px 0px !important;
    }

    .nav-right .navbar {
        order: 2;
    }

    .nav-items {
        display: none;
    }

    .navbar .navbar-nav {
        margin: 0px !important;
        padding-bottom: 10px;
    }

    .navbar .navbar-nav .nav-link {
        padding: 16px 0px;
        display: inline-block;
    }

    .nav-right .menu-icon {
        display: block !important;
    }

    .slider__content {
        text-align: center;
    }

    .slider__btn {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 991px) {
    .count-main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .count-box {
        margin-top: 30px;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .nav {
        padding: 30px 0px;
    }

    .slider__img {
        display: none;
    }

    .count-box h2 {
        font-size: 60px;
    }

    .count-box span {
        font-size: 15px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
    .nav-logo img {
        max-width: 150px;
    }

    .navbar .navbar-nav .nav-link {
        padding: 38px 12px;
        font-size: 15px;
    }

    .nav-right a {
        font-size: 15px;
    }

    .slider__bg {
        padding: 0 5%;
    }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 38px 15px;
    }

    .slider__content p {
        font-size: 20px;
    }

    .count-box h2 {
        font-size: 60px;
    }
}