/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
    font-family: "Berlin Sans FB Demi Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Berlin Sans FB Demi Bold"), url("./public/fonts/BRLNSDB.woff") format("woff");
}

/* Animations */
@-webkit-keyframes floating {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}

@-moz-keyframes floating {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}

@-ms-keyframes floating {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}

@-o-keyframes floating {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes floating {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes goDown {
    0% {
        top: 0;
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes shapeBlinker {
    50% {
        opacity: 0.59;
    }
}

/* Global Styles */
body {
    padding: 0 ;
    font-family: "Grandstander", sans-serif;
    background-color: #050505;
    color: #FFF;
    height: 200vh;
}

particle {
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
}

/* Preloader */
.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #050505;
    overflow: hidden;
    z-index: 1050;
}

.preloader img {
    width: 100px;
    -webkit-animation: floating 1s cubic-bezier(0.4, -0.35, 0.01, 1.08) infinite alternate;
    -moz-animation: floating 1s cubic-bezier(0.4, -0.35, 0.01, 1.08) infinite alternate;
    -ms-animation: floating 1s cubic-bezier(0.4, -0.35, 0.01, 1.08) infinite alternate;
    -o-animation: floating 1s cubic-bezier(0.4, -0.35, 0.01, 1.08) infinite alternate;
    animation: floating 1s cubic-bezier(0.4, -0.35, 0.01, 1.08) infinite alternate;
}

/* Navbar */
.navbar {
    height: 15vh;
    background-color: #050505;
    transition: all 0.3s ease-in-out;
}

.navbar.fixed-top {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 5px #11181a;
    transition: all 0.3s ease-in-out;
}

.navbar .navbar-brand img {
    max-width: 200px;
    transition: all 0.25s ease-in-out;
}

.navbar .navbar-brand img:hover {
    transform: scale(1.15);
    filter: opacity(0.5);
    transition: all 0.25s ease-in-out;
}

.navbar-nav .nav-link {
    display: block;
    padding: 38px 23px !important;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.8px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.15);
    transition: all 0.3s ease-in-out;
}

.navbar .btn-buy {
    padding: 15px 25px;
    background-color: transparent;
    border: 3px solid #7d46ff;
    border-radius: 25px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.navbar .btn-buy:hover {
    background-color: #fff;
    border: 3px solid #fff;
    color: #000;
    transition: all 0.3s ease-in-out;
}

/* Sections */
main {
    height: 85vh;
}

main .container,
main .row {
    height: 100%;
}

main .col-12 {
    height: 100%;
    margin-top: -3vh;
}

section:not(#tokenomics) {
    margin-top: 8vh;
}

section p {
    text-align: justify;
}

/* Hero */
main .hero-content {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
}

main#hero .col-12:nth-child(1) img {
    max-width: 80%;
    margin: 0 0 21px;
}

main#hero h1 {
    font-weight: 500;
    line-height: 0.8;
}

main#hero p {
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 1.8;
}

main#hero .col-12:nth-child(2) {
    justify-content: center;
    align-items: center;
}

main#hero .col-12:nth-child(2) img {
    max-width: 80%;
}

main#hero .group-btn {
    display: flex;
}

.group-btn .orga-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.group-btn div:not(.orga-btn) {
    margin-right: 15px;
}

main#hero .input-group {
    flex-wrap: nowrap;
    margin-bottom: 30px;
    padding: 10px 20px;
    width: 100%;
    border: 3px solid #7d46ff;
    border-radius: 25px;
    font-size: 21px;
    color: #fff;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

main#hero .input-group button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

main#hero .input-group input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    outline: none;
}

.group-btn a {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

.group-btn .btn-buy {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 25px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.group-btn .btn-buy:hover {
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    transform: scale(1.08);
    transition: all 0.3s ease-in-out;
}

.group-btn .btn-chart {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    border: 3px solid #7d46ff;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.group-btn .btn-chart:hover {
    background-color: #fff;
    border: 3px solid #fff;
    color: #000;
    transform: scale(1.08);
    transition: all 0.3s ease-in-out;
}

.group-btn .fa {
    width: 25px;
    padding: 15px;
    margin: 5px 2px;
    border: 3px solid #7d46ff;
    border-radius: 50%;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    box-sizing: content-box;
    transition: all 0.3s ease-in-out;
}

.group-btn .fa:hover {
    background-color: #fff;
    border: 3px solid #fff;
    color: #000;
    transform: scale(1.15);
    transition: all 0.3s ease-in-out;
}

/* Tokenomics */
.polygon {
    height: 50px;
    position: relative;
}

.polygon-left {
    width: 50%;
    left: 0;
}

.polygon-right {
    width: 50%;
    right: 0;
}

section#tokenomics .tokenomics-bg {
    padding: 100px 0px;
    margin: 0;
    position: relative;
    background-color: rgba(125, 70, 255, 0.15);
}

section#tokenomics .tokenomics-bg:before {
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(90deg, transparent 0%, rgb(125, 70, 255) 50%, transparent 100%);
    content: "";
}

section#tokenomics .count-box {
    text-align: center;
}

.count-box span {
    display: inline-block;
    width: 70%;
    padding: 10px 0;
    border: 2px solid #7d46ff;
    border-radius: 100px;
    background-color: rgb(125, 70, 255, 0.4);
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: nowrap;
}

.count-box h2 {
    font-family: "Berlin Sans FB Demi Bold";
    color: #ffffff;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-shadow: -1px 5px 0px rgba(125, 70, 255, 0.66);
}

/* About */
section#about .about-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#about .about-img img {
    max-width: 70%;
}

/* Chart */
#chart .col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* How to buy */
section#how-to-buy .col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#how-to-buy .step-border {
    background: linear-gradient(45deg, rgb(125 70 255 / 60%) 0, rgb(125 70 255 / 20%) 25%, rgb(125 70 255 / 50%) 50%, rgb(125 70 255 / 0%) 75%, rgb(125 70 255 / 60%) 100%);
    border-radius: 15px;
    padding: 3px;
}

section#how-to-buy .step-box {
    background-color: rgb(10 11 15 / 60%);
    position: relative;
    padding: 20px 40px;
    border-radius: 15px;
    margin: 0;
}

section#how-to-buy .step-box img {
    max-height: 100px;
}

/* Footer */
footer {
    padding: 100px 0 20px 0;
    margin-top: 15vh;
    position: relative;
    background-color: rgba(125, 70, 255, 0.15);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    text-align: center;
}

footer::before {
    width: 100%;
    height: 4px;
    padding: 0 50px;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, transparent 0%, rgb(125, 70, 255) 50%, transparent 100%);
    content: "";
}

footer .copyright {
    color: rgba(255, 255, 255, 0.7);
}
